.side-drawer {
    height: 100vh;
    background: black;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 3500px;
    z-index: 200;
    transform: translateX(-125%);
    transition: transform 0.3s ease-out;
    /* transform: translateX(0); */
    overflow-y: hidden;

}

.side-drawer.open {
    transform: translateX(0);
}
/* .opem{
    display: block;
} */

.side-drawer ul {
    /* height: 100%; */
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 0;
    text-align: center;
    margin-top: 20%;
    
}

.side-drawer li {
    color: white;
    width: 50%;
    margin: 2% auto;
}

.side-drawer a {
    text-decoration: none;
    font-size: 1.8rem;
}
.social-link-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #cc21f7;
}

@media (min-width: 1223px) {
    .side-drawer {
        display: none;

    }
}
@media (max-width: 768px) {
    .side-drawer a {
        font-size: 1.5rem;
    }
    .side-drawer ul{
        position:fixed;
        width: 100%;
    }
    .open{
        position:fixed;
        /* height:100vh; */
        width:80%;
    }
}
@media screen and (max-width: 740px) and (max-height: 400px){

    .side-drawer ul{
        margin: 0;
    }
    .social-link-mobile{
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }
}
